* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body > div {
    margin: auto;
}

/* Block */
.btn {
    margin: auto;
    display: inline-block;
    text-decoration: none;
    outline: none;
    border: none;
    background-color: transparent;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity .2s ease;
}

.btn:hover {
    opacity: 0.8;
}

.btn + .btn {
    margin-left: 16px;
}

.btn--success {
    background-color: #71be34;
}

.btn--warn {
    background-color: #ffb702;
}

.btn--danger {
    background-color: #ff623d;    
}